{% extends 'front.html.twig' %}

{% block title %}Edit Profil{% endblock %}

{% block body %}
    <h1>Edit Profil</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
