{% extends 'front.html.twig' %}

{% block title %}New Profil{% endblock %}

{% block body %}

    <section class="wrapper style3 container special">

        <header class="major">
            <h2>
                <strong>Membres</strong><br><br>
            </h2>
        </header>
        {% for p in profil %}

        <div class="row">
            <div class="col-12 col-6-narrower">

                <section>
                    <a href="#" class="image featured"><img src="{{ asset('Upload/')}}{{ p.photoProfilPath }}" width="100" alt="" /></a>
                    <header>
                        <h3>{{ p.idUser.nom }}</h3>
                    </header>
                    <a href="{{ path('demande_new',{'idusermembre':p.idUser.idUser,'iduserconecter':userconne.idUser}) }}" class="button">Envoyer Invitation</a><br><br>
                </section>

            </div>

        </div>

        {% endfor %}

    </section>

{% endblock %}
